## Problem 3 - Data analysis (4 points)

In this problem we will explore our temperature data by comparing spring temperatures between Helsinki Kumpula and Rovaniemi. To do this we'll use some conditions to extract subsets of our data and then analyse these subsets using basic pandas functions. Please perform the tasks below by writing your code into the codeblocks in each section.

### Tips for completing this problem

- Use **exactly** the same variable names as in the instructions.
- **Please do not**:

    - **Change the file names**. Do all of your editing in the provided `Exercise-5-problem-3.ipynb` file (this file).
    - **Change the existing cell types**. You can add cells, but changing the cell types for existing cells (from code to markdown, for example) will also cause the automated grader to fail. 

### Scores for this problem

**Your score on this problem will be based on following criteria:**

- Calculating the median temperatures for Mactan and Hinatuan for March-May of 2018
- Selecting temperatures for April and December 2018 in separate dataframes for each location
- Printing out some summary values for each month (April, December) and location (Mactan, Hinatuan)
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem
- Uploading your notebook and data files to your GitHub repository for this week's exercise

### Part 1 (0 points)

First, you need to load the data from Problem 2.

- Read in the csv files generated in Problem 2 to the variables `mactan` and `hinatuan`

In [6]:
import pandas as pd
mactan = pd.read_csv("Mactan_temps_2019-01_2020-12.csv")
hinatuan = pd.read_csv("Rovaniemi_temps_2019-01_2020-12.csv")

#reads the new csv files separately, and assigns to the new varibales for this console

In [7]:
print(mactan.head())
print('')
print(hinatuan.head())

       STATION                           NAME  LATITUDE  LONGITUDE  ELEVATION  \
0  RPM00098646  MACTAN CEBU INTERNATIONAL, RP     10.31     123.98        9.4
1  RPM00098646  MACTAN CEBU INTERNATIONAL, RP     10.31     123.98        9.4
2  RPM00098646  MACTAN CEBU INTERNATIONAL, RP     10.31     123.98        9.4
3  RPM00098646  MACTAN CEBU INTERNATIONAL, RP     10.31     123.98        9.4
4  RPM00098646  MACTAN CEBU INTERNATIONAL, RP     10.31     123.98        9.4

         DATE   TEMP    MAX    MIN  CELSIUS
0  2017-01-03  82.40  88.52  76.64     28.0
1  2017-01-05  81.32  88.52  77.00     27.4
2  2017-01-07  79.88  84.56  76.10     26.6
3  2017-01-08  77.90  79.16  76.28     25.5
4  2017-01-09  78.98  83.30  75.92     26.1

       STATION          NAME  LATITUDE  LONGITUDE  ELEVATION        DATE  \
0  RP000098755  HINATUAN, RP      8.37     126.33        3.0  2017-01-01
1  RP000098755  HINATUAN, RP      8.37     126.33        3.0  2017-01-02
2  RP000098755  HINATUAN, RP      8.37     126.33        3.0  2017-01-04
3  RP000098755  HINATUAN, RP      8.37     126.33        3.0  2017-01-08
4  RP000098755  HINATUAN, RP      8.37     126.33        3.0  2017-01-09

    TEMP    MAX    MIN  CELSIUS
0  80.06  84.20  75.20     26.7
1  80.78  85.64  75.92     27.1
2  80.60  86.36  75.38     27.0
3  77.18  81.86  73.40     25.1
4  80.60  85.64  74.12     27.0

### Part 2 (1 points)

Next you can find some median temperature values for the period the data covers.

- What was the median Celsius temperature during the observed period in:
    - Mactan, Cebu? (store the answer in a variable `mactan_median`)
    - Hinatuan, Surigao del Sur? (store the answer in a variable `hinatuan_median`)

In [10]:
mactan_median = mactan["CELSIUS"].median() #.median() another function from pandas
hinatuan_median = hinatuan["CELSIUS"].median()

In [11]:
# Prints the median temperatures
print(f"Mactan median: {mactan_median}")
print(f"Hinatuan median: {hinatuan_median}")

Mactan median: 28.3
Hinatuan median: 27.5

### Part 3 (2 points)

The median temperatures above consider data from the entire "summer" (Mar-May), hence the differences might not be so clear. Let's now find out the mean temperatures from March and May 2018 in Mactan and Hinatuan.

- From the `mactan` and `hinatuan` DataFrames, select the rows where values of the `DATE` column are from March 2018
    - Assign these selected rows into the variables `mactan_mar` and `hinatuan_mar` (you can check the [hints](https://geo-python.github.io/site/lessons/L5/exercise-5.html) for help!)
- Repeat the procedure for the month of May and assign those values into variables to `mactan_may` and `hinatuan_may`

In [15]:
# Select the subset of the Mactan and Hinatuan data for the 3rd and 5th month
mactan_mar = mactan.loc[(mactan["DATE"] >= '2018-03-01') & (mactan["DATE"] <= '2018-03-31')]
hinatuan_mar = hinatuan.loc[(hinatuan["DATE"] >= '2018-03-01') & (hinatuan["DATE"] <= '2018-03-31')]

mactan_may = mactan.loc[(mactan["DATE"] >= '2018-05-01') & (mactan["DATE"] <= '2018-05-31')]
hinatuan_may = hinatuan.loc[(hinatuan["DATE"] >= '2018-05-01') & (hinatuan["DATE"] <= '2018-05-31')]

Check that the subsets look ok:

In [16]:
print(f"First values in March, Mactan:\n{mactan_mar.head()}\n")
print(f"Last values in March, Mactan:\n{mactan_mar.tail()}")

First values in March, Mactan:
         STATION                           NAME  LATITUDE  LONGITUDE  \
208  RPM00098646  MACTAN CEBU INTERNATIONAL, RP     10.31     123.98
209  RPM00098646  MACTAN CEBU INTERNATIONAL, RP     10.31     123.98
210  RPM00098646  MACTAN CEBU INTERNATIONAL, RP     10.31     123.98
211  RPM00098646  MACTAN CEBU INTERNATIONAL, RP     10.31     123.98
212  RPM00098646  MACTAN CEBU INTERNATIONAL, RP     10.31     123.98

     ELEVATION        DATE   TEMP    MAX    MIN  CELSIUS
208        9.4  2018-03-02  82.40  88.88  76.28     28.0
209        9.4  2018-03-03  83.12  89.96  76.64     28.4
210        9.4  2018-03-05  82.76  89.60  75.92     28.2
211        9.4  2018-03-06  83.48  90.32  76.46     28.6
212        9.4  2018-03-12  78.62  82.94  74.66     25.9

Last values in March, Mactan:
         STATION                           NAME  LATITUDE  LONGITUDE  \
217  RPM00098646  MACTAN CEBU INTERNATIONAL, RP     10.31     123.98
218  RPM00098646  MACTAN CEBU INTERNATIONAL, RP     10.31     123.98
219  RPM00098646  MACTAN CEBU INTERNATIONAL, RP     10.31     123.98
220  RPM00098646  MACTAN CEBU INTERNATIONAL, RP     10.31     123.98
221  RPM00098646  MACTAN CEBU INTERNATIONAL, RP     10.31     123.98

     ELEVATION        DATE   TEMP    MAX    MIN  CELSIUS
217        9.4  2018-03-23  82.58  88.88  75.56     28.1
218        9.4  2018-03-24  82.22  89.06  78.26     27.9
219        9.4  2018-03-28  81.68  88.70  73.76     27.6
220        9.4  2018-03-30  81.32  87.80  74.48     27.4
221        9.4  2018-03-31  82.40  89.60  76.64     28.0

In [17]:
print(f"First values in May, Mactan:\n{mactan_may.head()}\n")
print(f"Last values in May, Mactan:\n{mactan_may.tail()}")

First values in May, Mactan:
         STATION                           NAME  LATITUDE  LONGITUDE  \
239  RPM00098646  MACTAN CEBU INTERNATIONAL, RP     10.31     123.98
240  RPM00098646  MACTAN CEBU INTERNATIONAL, RP     10.31     123.98
241  RPM00098646  MACTAN CEBU INTERNATIONAL, RP     10.31     123.98
242  RPM00098646  MACTAN CEBU INTERNATIONAL, RP     10.31     123.98
243  RPM00098646  MACTAN CEBU INTERNATIONAL, RP     10.31     123.98

     ELEVATION        DATE   TEMP    MAX    MIN  CELSIUS
239        9.4  2018-05-01  86.18  91.76  79.52     30.1
240        9.4  2018-05-05  83.66  90.50  75.56     28.7
241        9.4  2018-05-06  84.92  91.40  78.62     29.4
242        9.4  2018-05-08  84.02  92.48  76.64     28.9
243        9.4  2018-05-09  84.74  91.40  77.54     29.3

Last values in May, Mactan:
         STATION                           NAME  LATITUDE  LONGITUDE  \
253  RPM00098646  MACTAN CEBU INTERNATIONAL, RP     10.31     123.98
254  RPM00098646  MACTAN CEBU INTERNATIONAL, RP     10.31     123.98
255  RPM00098646  MACTAN CEBU INTERNATIONAL, RP     10.31     123.98
256  RPM00098646  MACTAN CEBU INTERNATIONAL, RP     10.31     123.98
257  RPM00098646  MACTAN CEBU INTERNATIONAL, RP     10.31     123.98

     ELEVATION        DATE   TEMP    MAX    MIN  CELSIUS
253        9.4  2018-05-23  85.64  92.66  80.06     29.8
254        9.4  2018-05-24  86.72  91.94  79.70     30.4
255        9.4  2018-05-26  86.36  93.20  78.26     30.2
256        9.4  2018-05-27  87.08  92.30  80.60     30.6
257        9.4  2018-05-28  86.72  93.02  81.32     30.4

In [18]:
print(f"First values in March, Hinatuan:\n{hinatuan_mar.head()}\n")
print(f"Last values in March, Hinatuan:\n{hinatuan_mar.tail()}")

First values in March, Hinatuan:
         STATION          NAME  LATITUDE  LONGITUDE  ELEVATION        DATE  \
263  RP000098755  HINATUAN, RP      8.37     126.33        3.0  2018-03-01
264  RP000098755  HINATUAN, RP      8.37     126.33        3.0  2018-03-04
265  RP000098755  HINATUAN, RP      8.37     126.33        3.0  2018-03-05
266  RP000098755  HINATUAN, RP      8.37     126.33        3.0  2018-03-06
267  RP000098755  HINATUAN, RP      8.37     126.33        3.0  2018-03-07

      TEMP    MAX    MIN  CELSIUS
263  80.60  85.28  75.38     27.0
264  78.98  86.18  73.22     26.1
265  81.50  87.44  73.40     27.5
266  79.88  86.36  73.76     26.6
267  80.42  86.36  74.66     26.9

Last values in March, Hinatuan:
         STATION          NAME  LATITUDE  LONGITUDE  ELEVATION        DATE  \
276  RP000098755  HINATUAN, RP      8.37     126.33        3.0  2018-03-23
277  RP000098755  HINATUAN, RP      8.37     126.33        3.0  2018-03-25
278  RP000098755  HINATUAN, RP      8.37     126.33        3.0  2018-03-28
279  RP000098755  HINATUAN, RP      8.37     126.33        3.0  2018-03-29
280  RP000098755  HINATUAN, RP      8.37     126.33        3.0  2018-03-30

      TEMP    MAX    MIN  CELSIUS
276  78.44  85.64  73.04     25.8
277  80.96  87.98  74.48     27.2
278  82.04  92.30  68.72     27.8
279  81.32  89.60  74.12     27.4
280  81.32  90.50  72.50     27.4

In [19]:
print(f"First values in May, Hinatuan:\n{hinatuan_may.head()}\n")
print(f"Last values in May, Hinatuan:\n{hinatuan_may.tail()}")

First values in May, Hinatuan:
         STATION          NAME  LATITUDE  LONGITUDE  ELEVATION        DATE  \
304  RP000098755  HINATUAN, RP      8.37     126.33        3.0  2018-05-01
305  RP000098755  HINATUAN, RP      8.37     126.33        3.0  2018-05-03
306  RP000098755  HINATUAN, RP      8.37     126.33        3.0  2018-05-04
307  RP000098755  HINATUAN, RP      8.37     126.33        3.0  2018-05-07
308  RP000098755  HINATUAN, RP      8.37     126.33        3.0  2018-05-09

      TEMP    MAX    MIN  CELSIUS
304  82.22  89.24  76.10     27.9
305  81.50  90.86  74.84     27.5
306  81.86  89.96  75.56     27.7
307  82.76  90.50  75.92     28.2
308  82.04  90.32  75.38     27.8

Last values in May, Hinatuan:
         STATION          NAME  LATITUDE  LONGITUDE  ELEVATION        DATE  \
320  RP000098755  HINATUAN, RP      8.37     126.33        3.0  2018-05-24
321  RP000098755  HINATUAN, RP      8.37     126.33        3.0  2018-05-26
322  RP000098755  HINATUAN, RP      8.37     126.33        3.0  2018-05-27
323  RP000098755  HINATUAN, RP      8.37     126.33        3.0  2018-05-29
324  RP000098755  HINATUAN, RP      8.37     126.33        3.0  2018-05-31

      TEMP    MAX    MIN  CELSIUS
320  84.20  91.94  77.00     29.0
321  83.30  88.88  75.20     28.5
322  82.94  93.02  77.00     28.3
323  81.68  92.30  74.66     27.6
324  81.68  90.86  72.86     27.6

### Part 4 (1 point)

Now you can make your temperature data from both locations and months easier to compare by printing out a few useful values.

- Use the `print()` function to show the mean, min and max Celsius temperatures for both places in March and May using the new subset dataframes (`mactan_mar`, `hinatuan_mar`, `mactan_may`, and `hinatuan_may`).

In [20]:

print("Mactan March Data \n",
        "Mean:", mactan_mar["CELSIUS"].mean(), "\n"
        "Min:", mactan_mar["CELSIUS"].min(), "\n"
        "Max:", mactan_mar["CELSIUS"].max(), "\n \n"
      "Mactan May Data \n",
        "Mean:", mactan_may["CELSIUS"].mean(), "\n"
        "Min:", mactan_may["CELSIUS"].min(), "\n"
        "Max:", mactan_may["CELSIUS"].max(), "\n \n"
      "Hinatuan March Data \n",
        "Mean:", hinatuan_mar["CELSIUS"].mean(), "\n"
        "Min:", hinatuan_mar["CELSIUS"].min(), "\n"
        "Max:", hinatuan_mar["CELSIUS"].max(), "\n \n"
      "Hinatuan May Data \n",
        "Mean:", hinatuan_may["CELSIUS"].mean(), "\n"
        "Min:", hinatuan_may["CELSIUS"].min(), "\n"
        "Max:", hinatuan_may["CELSIUS"].max(), "\n \n"
      
     )
        

    #simple use the .mean(), .min(), and .max() functions from pandas for this cell

Mactan March Data
 Mean: 27.949999999999996
Min: 25.9
Max: 28.9

Mactan May Data
 Mean: 29.705263157894734
Min: 28.7
Max: 30.7

Hinatuan March Data
 Mean: 26.855555555555554
Min: 25.8
Max: 28.0

Hinatuan May Data
 Mean: 28.433333333333334
Min: 27.5
Max: 29.3

### Problem 3 summary

In the spirit of [knowledge discovery](http://researcher.ibm.com/researcher/view_group.php?id=144), let's briefly interpret the results of the data analysis in Problem 3. Please answer the following questions based on the data analysis results from this problem:

- Does there seem to be a large difference in temperatures between the months?
- Is Hinatuan a much cooler place than Mactan?

Also, be sure to:

- Check that your code includes informative comments explaining what your code does
- Commit and push your changes to your GitHub repository for Exercise 5

ANSWERS TO QUESTION:
- Yes there is.
- Yes it is relatively cooler than Mactan (which probably could be attributed to elevation, weather differences etc.)

### On to Problem 4 (*optional*)

Now you can continue to the *optional* [Problem 4: Data analysis](Exercise-5-problem-4.ipynb)